*{
    margin: 0;
    padding: 0;
}

#parent{
    height: 100vh;
    width: 100vw;
}

#nav-bar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main{
    height: 90%;
    width: 100%;
    background-color: #EBEBEB;
    padding-top: 15px;
}

#nav-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#title{
    font-size: 15pt;
    font-family: sans-serif;
    font-weight: bold;
}


#nav-items-list{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-item{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-item.active{
    color: #C1CDFF;
}

#nav-user{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-user-info{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

#nav-user-name{
    font-size: 10pt;
    font-family: sans-serif;
}
#nav-user-role{
    font-size: 8pt;
    font-family: sans-serif;
    color: gray;
}

.avatar{
    height: 50px;
    width: 50px;
    background-color: #536FFE;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}


#stats-row{
    display: flex;
    flex-direction: row;
}

#user-card{
    height: 210px;
    width: 450px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar.large{
    height: 80px;
    width: 80px;
    margin-left: 25px;
    margin-right: 15px;
}

#card-info{
    height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#card-progress{
    display: flex;
    flex-direction: column;
}

.progress-bar{
    height: 8px;
    width: 180px;
    background-color: gray;
    border-radius: 15px;
}
.in-progress{
    height: 8px;
    background-color: gray;
    border-radius: 15px;
}

.in-progress.blue{
    background-color: #536FFE;
    width: 150px;
}
.in-progress.red{
    background-color: #F93536;
    width: 130px;
}


#user-task{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tasks{
    height: 90px;
    width: 250px;
    background-color: white;
    margin-left: 25px;
    border-radius: 10px;
}

.tasks p{
    font-size: 10pt;
    color: gray;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.tasks h3{
    font-size: 15pt;
    font-family: sans-serif;
    padding-left: 20px;
}