*{
    margin: 0;
    padding: 0;
}

#parent{
    height: 100vh;
    width: 100vw;
}

#nav-bar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main{
    height: 90%;
    width: 100%;
    background-color: #EBEBEB;
}

#nav-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#title{
    font-size: 15pt;
    font-family: sans-serif;
    font-weight: bold;
}


#nav-items-list{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-item{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-item.active{
    color: #C1CDFF;
}

#nav-user{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-user-info{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

#nav-user-name{
    font-size: 10pt;
    font-family: sans-serif;
}
#nav-user-role{
    font-size: 8pt;
    font-family: sans-serif;
    color: gray;
}

.avatar{
    height: 50px;
    width: 50px;
    background-color: #536FFE;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}